.new-convo-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.convo-form-name{
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lato';
    margin-bottom: 28px;   
}

.convo-form-label{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato';
}

.convo-form-note{
    font-size: 14px;
    font-family: 'Lato';
    margin: 10px 0;
    font-weight: normal;
}

.convo-form-input{
    margin: 10px 0 20px 0;
    padding: 10px;
    width: 580px;
    border: 1px solid #818385;
    border-radius: 4px;
    background-color: #e3dfc5;

}

.convo-form-private{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.convo-form-submit{
    align-self: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato';
    padding: 10px 15px;
    color: white;
    background-color: #738201;
    border-radius: 4px;
}

.convo-form-submit:hover{
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    color: white;
    background-color: #93a602;
}