.channel-log{
    display: flex;
    flex-direction: column;
    height: calc(100% - 140px);
}

.channel-info{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid silver;
}

.channel-info-text{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Lato';
    color: #4d3722;
}

.channel-info-text > a{
    font-weight: bold;
}

.channel-info-text > ul{
    display: flex;
    flex-direction: row;
}

.channel-info-text > ul > li{
    margin-right: 10px;
}

.channel-info-links{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bolder;
    color: #4d3722;
}

.channel-info-links > li{
    margin: 0 10px;
}

.channel-form{
    min-height: 100px;
    z-index: 10;
    flex: 1;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.channel-form > textarea{
    resize: none;
    margin: 5px 10px;
    width: auto;
    height: auto;
    overflow: hidden;
}

.channel-form-links{
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}

.channel-form-links > button{
    font-size: 15px;
}

.channel-form-links > button:hover{
    opacity: 50%;
}

.channel-content{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}