.dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.online{
    background-color: greenyellow;

}

.workspace-header{
    // box-sizing: border-box;
    height: 60px;
    padding: 5px 30px;
    border-bottom: 1px solid silver;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.workspace-header > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    margin-left: 20px;
}

.workspace-name{
    font-family: 'Lato';
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.workspace-user{
    font-family: 'Lato';
    font-size: 13px;
}

.chatlist{
    overflow-y: scroll;
    height: calc(100% - 111px);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chatlist-sub{
    display: flex;
    flex-direction: column;
}

.chatlist-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatlist-subtitle{
    font-size: 14px;
    font-family: 'Lato';
    padding: 10px 0;
    color: #4d3722;
}

.chatlist-item{
    font-size: 14px;
    font-family: 'Lato';
    padding: 5px 15px;
    color:#4d3722;
}

.chatlist-item:hover{
    background-color: #d6e27c;
}
// .chatlist-item.current, {
//     font-weight: bold;
// } 

.create-convo-words{
    padding: 5px 10px;
    color: #4d3722;
}

.create-convo-symbol{
    font-size: 14px;
    font-family: 'Lato';
    color: #4d3722;
    padding: 0 5px;
    border-radius: 3px;
}

.create-convo-words:hover, .create-convo-symbol:hover{
    background-color: #d6e27c;
}