

.main-slant{
    // position: relative;
    height: 100vh;
    // width: 100vw;
    display: block;
    // flex-direction: column;
}

.slant-nav{
    height: 40px;
}

.slant-chat{
    height: calc(100% - 40px);

    display: flex;
    flex-direction: row;
}

.channel-side{
    background-color: #a8c56b;
    width: 250px;
    flex: none;
    // overflow: auto;

}

.chat-side{
    background-color: #e3dfc5 ;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

